<div class="jumbotron">
  <h1>Merchant Sentiment!</h1>
</div>
<div class="row">
  <div class="col-md-12">
  	Merchant Name
  </div>	
</div>
<% Merchant.all.each do |merchant| %>
  <div class="row">
    <div class="col-md-12">
      <%= merchant.name %>
    </div>
  </div>
  <% GetMerchantPayments.new.call(merchant).each do |payment| %>
  <div class="row">
    <div class="col-md-12">
      <%= payment["id"] %>
    </div>
  </div>
  <% end %>
<% end %>